<?xml version="1.0" encoding="UTF-8"?>
<configuration package="log4j.test" status="WARN">
    <appenders>
        <console name="STDOUT" target="SYSTEM_OUT">
            <patternLayout pattern="%d [%15.15t] %-5p %30.30c - %m%n"/>
        </console>
    </appenders>
    <loggers>
        <root level="INFO">
            <appenderRef ref="STDOUT"/>
        </root>
    </loggers>
</configuration>